* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: auto;
}

img {
    width: 100%;
    display: block;
}

.images {
    padding: 3%;
}

.images img {
    display: none;
}

.images img.active {
    display: block;
}

.slider {
    display: flex;
    align-items: center;
}

.arrow {
    font-size: 40px;
    cursor: pointer;
}